body{
    margin: 0

}

.nav{
    display: flex;
    justify-content: space-around;
    background: brown;
    padding: 10px;
}

.nav a{
    color: white;
    text-decoration: none;
    font-size: 10px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid: 20px;
}

.box{
    background: #add;
    padding: 20px;
    text-align: center;
}

@media (max-width: 600px) {
    .grid{
        grid-template-columns: 1fr;
    }
}